@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Hanken+Grotesk:ital,wght@0,100;0,300;1,100&family=Montserrat:wght@500;700&family=Outfit:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit',sans-serif;
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 375px;
    margin: 0 auto;
}
.card{
    margin: 2rem 3rem;
    padding: 20px;
    background-color:  hsl(216, 50%, 16%);
    border-radius:15px;
    box-shadow: 0px 0px 30px 5px rgba(11, 3, 14, 0.75);
}
.image-top{
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.image-top img{
    width: 100%;
    display: block;
}
.image-overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(178, 100%,50%, 0.5);
    display: none;
}
.image-overlay img{
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.image-top:hover .image-overlay{
display: block;
}
.text .title{
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}
.text .description{
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    padding-bottom: 20px;
    
}
.time{
    display: flex;
    align-items: center;
    gap:45px;
    padding-bottom:15px;
    font-size: 14px;
}
.left{
    display: flex;
    align-items: center;
    gap:5px
}
.left img,.right img{
    height: 14px;
}
.right{
    display: flex;
   align-items: center;
    gap:5px
}
.eth{
    color: hsl(178, 100%, 50%);
}
.day{
    color: hsl(215, 51%, 70%);
}
hr{
    border-color: hsl(215,32%,27%);
}
.profile{
    display: flex;
    align-items: center;
    gap:10px;
    padding-top: 15px;
}
.profile img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
}
.create{
    color: hsl(215, 51%, 70%);
}
.name{
    color: white;
}

